<!-- no footer at all! -->
<footer class="bg-light py-5">
  <div class="container">
    <div class="row justify-content-between">
      <div class"col">
          <h5 class="text medium"> Address </h3>
          <address class="text-muted small">
              Vertigo Designs<br />
              Bautzner Strasse 22<br/>
              C/o Quartier22<br/>
              01099 Dresden<br/>
              Germany
          </address>
      </div>
      <div class="col-sm-auto">
          <h5 class="text medium"> Contact </h3>
          <a class="small" href="mailto:info@vertigo-designs.com">info@vertigo-designs.com</a>
          <div class="small text-muted">Phone: +49 151 42 45 3145</div>
      </div>
      <div class="col-md-auto small text-center text-muted align-self-end">
        {{ site.data.footer.copyright }}
        &nbsp;
        {% for link in site.data.footer.links %}
            <a href="{{ link.url }}" {% assign new_window_is_not_empty = link.new_window | is_not_empty %}
            {% if new_window_is_not_empty %}target="_blank" rel="noopener"
            {% endif %}>{{ link.text }}</a>
        {% endfor %} 
      </div>
    </div>
  </div>
</footer>
